<div id="wrapper">
    <h1><i>The New York Times MongoScraper</i></h1>
    <button type="button" class="btn btn-primary" id="scrape">Scrape NYTimes Articles</button>


    <br /><br /><br /><br />
    <div id="articles"></div>
    <div id="notes"></div>
</div>